
Body{
  /*background-image:url("kayak.png");
  background-color: black;
  background-repeat:no-repeat;;
  background-size:cover;
  background-position:center;
  width:100%;
  Height:600px;*/
  background-color: black ;
	background: url('kayak.png') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

div.navMENU{
  display: block;
  width:100%;
  height:15%;
  margin: auto;
  color:white;
  padding-top: 1%;
  /*border: 5px solid black;*/
}


div.navMENU li{
  display: inline-block;
  height: 5%;
  width: 15%;
  height: 6%;
  font-size:1.5em;
  /*border: 5px solid black;*/
}
div.navMENU a{
  color:white;
  /*border: 5px solid black;*/
}

a.back{
  display: block;
  color:white;
  height:5%;
  width: 25%;
  font-size: 20px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50%;
  text-align: center;



}

h1{

  text-shadow: 0 0 10px;
  display: block;
  position: relative;
  height: 5%;
  width: 40%;
  margin-top: 12%;
  margin-right:auto;
  margin-left: auto;
  color:white;
  text-align: center;
  font-size: 3.5em;

}


/*#page-wrap {
    position: center;
    display:block;
    position: relative;
    width:100%;
    height:80%;
    margin:0px auto;
    margin-top:25px;
    background color:white;
    opacity:1;
    box-shadow: 0 0 20px black;
    padding: 10px;
    z-index: 50%;
  }*/


#container{

  width: 75%;
  height: 85%;
  margin-right: auto;
  margin-left: auto;
  overflow:scroll;
}

#portfolio {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
  margin-top: 80%;

}

.portfolio-obj img {
	width: 50%;
  height: 60;
	opacity: 0.75;
}
.portfolio-obj img:hover {
	opacity: 1;
}

.portfolio-obj a{
	text-decoration: none;
	color: white;
}

@media all and (min-width: 801px) {
	.portfolio-obj {
		width: 33%;
	}
}

@media all and (max-width: 800px) {
	.portfolio-obj {
		width: 50%;
	}
}

@media all and (max-width: 650px) {
	.portfolio-obj {
		width: 100%;
	}
}
